<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
    <meta name="author" content="dimax.pl">
	<meta name="keywords" content="" />
	<meta name="description" content="usuwanieazbestu.com.pl" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
	
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/browsers.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/awesome-bootstrap-checkbox.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>
	
 
     <!-- sitemap -->
     <div class="subsite-wrapp contract-form">
     	<div class="container">
        	<div class="">
                <div class="header-form">
                    <h5>Zlecenie</h5>
                </div>
                <div class="summary-content">
                    <div class="row">
                        <div class="col-2">
                            <h3>Dane do faktury</h3>
                            <p class="left">
                                <strong>Nazwa firmy:</strong> Euro-Gaz Sp. z o.o.
                                </br><strong>Adres:</strong> ul. Przemysłowa
                                </br><strong>Kod pocztowy:</strong> 28-300 Jędrzejów
                                </br><strong>NIP:</strong> 959-458-85-78
                            </p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-2">
                            <h3>Miejsce wykonania zlecenia</h3>
                            <p>
                                <strong>ulica:</strong> ul. Przemysłowa
                                </br><strong>Kod pocztowy:</strong> 28-300 Jędrzejów
                            </p>
                        </div>
                        <div class="col-2">
                            <h3>Informacje o zleceniu</h3>
                            <p>
                                <strong>Rodzaj zlecenia:</strong> 
                                </br>pakowanie, transport i utylizacja płyt azbestowych
                            </p>
                            <p>
                                <strong>Usługi dodatkowe:</strong>
                                </br>przygotowanie eternitu do transportu
                            </p>
                            <p>
                                <strong>Przybliżony termin inwestycji:</strong> 
                                </br>20 czerwca 2018
                            </p>
                        </div>
                    </div>
                </div>
                <div class="summary-bottom">
                	<a class="btn left grey" href="">anuluj</a>
                    <a class="btn right green" href="">Potwierdzam zlecenie</a>
                </div>
            </div>
        </div>
     </div>

    

    
   
  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="js/addons.js"></script>


    
</body>
</html>