<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block css %}{% endblock %}
    </head>
    <body>
        {% block nav %}
            <header>
                <nav>
                    <ul>
                        <li><a href="{{ path('login') }}">Zaloguj się</a></li>
                        <li><a href="{{ path('register') }}">Zarejestruj się</a></li>
                    </ul>
                </nav>
            </header>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block js %}{% endblock %}
    </body>
</html>
